@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #78c1f3;
}

.config-container{
    
    width: 415px;
    padding: 25px;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.13);
}

.config-container .config-title {
    font-size: 1.31rem;
}

.config-container .config-option {
    margin-top: 25px;
}

.config-option .option-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.config-option .category-options {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.config-option .question-options {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 30px;
    justify-content: center;
}

.config-option button {
    padding: 12px;
    font-size: 0.938rem;
    font-weight: 500;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #78c1f3;
    transition: 0.3s ease;
}

.config-option button:active {
    color: #5145BA;
    border-color:#5145BA ;
    background: #dad5fd;
}

.config-option button:hover {
    background: #dad5fd;
}

.config-options button {
    flex: 1 1 10%;
}

.config-container .start-quiz-btn {
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 500;
    background: #5145BA;
    padding: 13px;
    font-size: 1rem;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.config-container .start-quiz-btn:hover {
    background: #403795;
}
